.hero{
    width: 100%;
    height: 100vh;
    position: relative;

}

.hero-mid{
    width: 100%;
    height: 70vh;
    position: relative;

}

.hero-mid h1{
    padding-top: 4rem !important;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.6);
}

.hero-txt{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.hero-txt h1{
    font-size: 3rem;
    font-weight: 800;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-txt p{
    font-size: 1.3rem;
    
    color: #fff;
    padding: 0.5rem 0 2rem 0;
}

.hero-txt .show{
    text-decoration: none;
    /* background: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222; */

    
}
.hero-txt .hide{
    display: none;
}

@media (max-width: 555px) {
    .hero-txt h1{
        padding: 10px 20px;
    }
    .herp-text p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }
    .hero-txt .show{
        
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        font-size: 1rem;
        
    }   
}

.button {
    text-decoration: none;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }